body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0px;
    width: 375px;
    position: absolute;
    left: 50%;
    margin-left: -187.5px;
    font-family: century-gothic, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.logo {
    width: 100px;
}

#greeting {
    margin: 10px;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #67a3d9;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icon {
    width: 30px;
    margin: 10px;
}

.person {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 600;
}

.person_photo {
    width: 50px;
    height: 50px;
    margin: 10px 50px 10px 10px
}

.photo {
    width: 300px;
    margin: 0px 0px 10px 0px;
}

/* Discover1 page */

.header_dis_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
    height: 60px;
    background-color: #67a3d9;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search_box {
    height: 40px;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
}

.search_icon {
    width: 30px;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.category {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.category_photo {
    width: 150px;
    margin-right: 20px;
}

.category_h1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 600;
    margin: 0px;
}

.category_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
}

.search_type {
    margin: 11px 10px;
    color: #999;
    font-weight: 100;
    font-size: 10pt;
    border: none;
    width: 238px;
    border-color: #fff;
}

/*SignUp/SignIn page styling begins here*/
.ballofyarn {
    width: 230px;
    top: 65%;
    left: 40%;
    margin-left: 80px;
}

.signintext {
    color: white;
    font-size: 24pt;
    background: none;
    text-decoration: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
}

.signuptext {
    color: white;
    font-size: 24pt;
    background: none;
    text-decoration: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
}

.signin {
    position: relative;
    display: block;
    align-content: center;
    text-align: center;
    color: white;
    margin-top: 70px;
    flex-wrap: wrap;
    max-width: 100%;
}

.signup {
    position: relative;
    display: block;
    align-content: center;
    text-align: center;
    color: white;
    margin-top: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

/* Camera */

.header_cam {}

.publish {
    background-color: #F6D2E0;
    border-radius: 20px;
    height: 30px;
    margin-left: 185px;
}

.publish_text {
    margin: 6px 30px;
}

.name {
    margin: 0px 0px 10px 0px;
    padding: 1px 2px;
    color: #999;
    font-weight: 400;
    font-size: 10pt;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #E5E5E5;
}

.no_margin {
    margin: 0px;
}
.h5_margin {
    margin: 10px 0px 4px 0px;
}
.h5_margin_bot{
    margin: 0px 0px 4px 0px;
}

.description {
    margin: 0px 0px 10px 0px;
    color: #999;
    font-weight: 400;
    font-size: 10pt;
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #E5E5E5;
}

#video {
    width: 375px;
    height: 300px;
}

#photo {
    background-image: url(../photos/snap-photo.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 10px;
    border: none;
}

#flash {
    background-image: url(../photos/flash.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 10px 40px 10px 0px;
    border: none;
}

.buttons {
margin-right: 95px;
}

.category_button {
    background-color: #F6D2E0;
    border-radius: 20px;
    height: 30px;
    margin: 0px 10px;
    width: 90px;
}

.category_button_white{
    background-color: #fff;
    border-radius: 20px;
    height: 30px;
    margin: 0px 10px;
    width: 90px;
}

.category_text {
    margin: 6px 0px;
    font-size: 11pt;
}